<div class="containre-fluid">
    <nav class="navbar navbar-expand-lg navbar-light p-2">

        <div class="container">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" routerLink='inicio'>Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" routerLink='contato'>Contato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" routerLink='sobre-nos'>Sobre-nos</a>
                    </li>
                </ul>

                <a class="navbar-brand mr-auto text-light" routerLink='inicio'>
                    <img src="https://i.imgur.com/c2Zm3wQ.png" alt="..." class="img-fluid" width="50" height="50">
                </a>
                
                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-light mr-3" routerLink='entrar'>Entrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light pl-4 pr-4 border-1" routerLink='cadastrar'>Cadastro</a>
                        </li>
                    </ul>
                </form>

            </div>

        </div>

    </nav>
</div>