<div class="container-fluid">
  <div class="row">

      <!--Opções-->

      <div class="col-md-5 fundoColor1 p-3">
          <div class="col-md-12">
              <div class="justify-content-center">
                  <h4 class=" textColorTitulo">Configurações</h4>
                  <h6 class="textColorTitulo">Configurações gerais da conta</h6>
              </div>
          </div>
      </div>

      <!--/Opções-->

      <!--Formulario-->

      <div class="col-md-7 fundoColor2 p-3">
          <div class="col-md-12">
              <div class="row d-flex justify-content-start">

                  <div>
                      <img src="https://f.i.uol.com.br/fotografia/2014/09/02/434016-600x600-1.jpeg"
                          alt="Foto do autor" width="132px" height="132px" class="img-fluid rounded-circle">
                  </div>

                  <form class="mt-5">
                      <div class="form-group">
                          <label class="textBold" for="nome">Meu Nome</label>
                          <div class="form-inline">
                              <input type="email" class="form-control border border-secondary"
                                  style="min-width:320px;" id="exampleInputEmail1" aria-describedby="emailHelp"
                                  placeholder="">
                              <button type="submit" class="btn btn-editar ml-3 my-1 borderButtom">Editar</button>
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="textBold" for="usuario">Meu usúario</label>
                          <div class="form-inline">
                              <input type="email" class="form-control border border-secondary"
                                  style="min-width:320px;" id="exampleInputEmail1" aria-describedby="emailHelp"
                                  placeholder="">
                              <button type="submit" class="btn btn-editar ml-3 my-1 borderButtom">Editar</button>
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="textBold" for="exampleInputPassword1">Minha senha</label>
                          <div class="form-inline">
                              <input type="email" class="form-control border border-secondary"
                                  style="min-width:320px;" id="exampleInputEmail1" aria-describedby="emailHelp"
                                  placeholder="">
                              <button type="submit" class="btn btn-editar ml-3 my-1 borderButtom">Editar</button>
                          </div>
                      </div>

                  </form>
              </div>
          </div>
      </div>

      <!--/Formulario-->

  </div>
</div>
